html, body{
    margin: 0;
    padding: 0;
}

:root{
    --progbar-bg: lightgray;
    --start: red;
    --middle: orangered;
    --almost: greenyellow;
    --finish: green;
}

.container{
    width: 80%;
    margin: 3em auto;
    .progress-bar{
        height: 1.5em;
        background: var(--progbar-bg);
        border-radius: 20px;
        .progress-status{
            width: 10%;
            background: var(--start);
            animation: 6s linear showprogress infinite;
        }
       
    }
}

@keyframes showprogress{
    25%{
        width: 25%;
        background: var(--middle)
    }
    50%{
        width: 50%;
        background: var(--almost);
    }
    100%{
        width: 100%;
        background: var(--finish);
    }
}
